In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import chisquare
from collections import Counter



# A variavel mega vai guardar a tabela que esta no excel
mega = pd.read_excel("../allResultsMega.xlsx")

# A planilha usada para analisar esta na ordem dos sorteios

display(mega)

      Concurso        Data  bola 1  bola 2  bola 3  bola 4  bola 5  bola 6
0         2865  20/05/2025      30      47      25      51      39       2
1         2864  17/05/2025      53      15       6      31      17       5
2         2863  15/05/2025       5      56      34      47      23      32
3         2862  13/05/2025      14       4       2      22      44      18
4         2861  10/05/2025      27       2      46      53      21      51
...        ...         ...     ...     ...     ...     ...     ...     ...
2860         5  08/04/1996       1      19      46       6      16       2
2861         4  01/04/1996       6      59      42      27       1       5
2862         3  25/03/1996      36      30      10      11      29      47
2863         2  18/03/1996       9      39      37      49      43      41
2864         1  11/03/1996      41       5       4      52      30      33

[2865 rows x 8 columns]

In [3]:
descricao = mega[['bola 1', 'bola 2', 'bola 3', 'bola 4', 'bola 5', 'bola 6']].describe()
display(descricao)

,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6
count,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000
mean,30.569983,30.201396,30.708202,30.953229,30.506108,30.272949
std,17.245559,17.383177,17.366852,17.279858,17.204307,17.194404
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,16.000000,15.000000,16.000000,16.000000,15.000000,16.000000
50%,31.000000,31.000000,31.000000,31.000000,31.000000,30.000000
75%,46.000000,45.000000,46.000000,46.000000,45.000000,45.000000
max,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000

In [4]:
# Lista com os nomes das colunas das bolas
colunas_bolas = ['bola 1', 'bola 2', 'bola 3', 'bola 4', 'bola 5', 'bola 6']

# Criar um DataFrame vazio para armazenar as frequências individuais
df_freqs = pd.DataFrame()

# Para cada bola, contar as frequências e juntar no DataFrame
for bola in colunas_bolas:
    freq = mega[bola].value_counts().sort_index()
    df_freqs[bola] = freq

# Substitui NaN por 0 (caso algum número não tenha saído em alguma bola)
df_freqs.fillna(0, inplace=True)

# Garante que os valores sejam inteiros
df_freqs = df_freqs.astype(int)

# Adiciona a coluna "total"
df_freqs['total'] = df_freqs.sum(axis=1)

# Ordena pelo número
df_freqs = df_freqs.sort_index()

# Exibe a tabela
display(df_freqs)

        bola 1  bola 2  bola 3  bola 4  bola 5  bola 6  total
bola 1
1           42      47      54      55      39      43    280
2           54      45      56      43      46      46    290
3           39      55      40      34      47      51    266
4           58      43      54      50      47      49    301
5           51      65      42      50      51      54    313
6           52      53      46      40      48      49    288
7           53      43      41      48      45      41    271
8           39      58      44      44      43      54    282
9           43      45      40      44      54      41    267
10          55      63      43      55      61      58    335
11          51      54      49      55      45      46    300
12          42      48      50      37      52      43    272
13          52      41      52      52      52      45    294
14          43      39      47      44      54      50    277
15          34      46      40      42      41      46    249
16          43      46      43      48      60      57    297
17          51      58      50      43      45      56    303
18          35      46      55      52      46      41    275
19          54      42      54      41      39      46    276
20          52      40      48      48      50      44    282
21          38      54      41      37      38      32    240
22          43      49      35      39      39      52    257
23          36      49      53      52      47      63    300
24          49      36      52      42      57      50    286
25          56      41      46      48      43      53    287
26          37      48      33      40      31      47    236
27          53      46      62      44      41      55    301
28          62      41      50      54      53      36    296
29          44      44      54      61      45      39    287
30          60      43      53      47      44      56    303
31          45      40      40      52      44      45    266
32          59      61      43      42      48      50    303
33          46      55      42      50      54      61    308
34          45      40      61      55      54      55    310
35          62      41      50      47      64      36    300
36          47      45      48      54      49      46    289
37          49      46      53      67      45      48    308
38          47      37      60      53      55      53    305
39          44      61      36      41      42      51    275
40          35      47      38      51      47      48    266
41          42      55      59      51      42      48    297
42          47      56      50      44      57      49    303
43          55      53      50      54      47      44    303
44          57      45      49      50      59      41    301
45          46      52      40      42      57      44    281
46          58      48      44      48      52      50    300
47          57      43      40      43      52      40    275
48          35      47      51      39      46      48    266
49          59      57      40      44      41      49    290
50          46      48      38      49      52      50    283
51          51      47      48      51      47      48    292
52          39      43      48      50      56      50    286
53          57      61      50      54      48      57    327
54          47      50      56      53      44      46    296
55          43      41      44      50      29      39    246
56          47      56      62      40      45      49    299
57          41      39      49      45      46      56    276
58          37      49      55      49      43      44    277
59          53      44      50      46      46      39    278
60          48      30      44      62      51      38    273

In [ ]:
# Dados
observado = df_freqs['total']
esperado = [observado.sum() / len(observado)] * len(observado)  # distribuição uniforme

# Gráfico
plt.figure(figsize=(16, 6))
plt.bar(observado.index, observado, label='Observado', alpha=0.7)
plt.plot(observado.index, esperado, label='Esperado (Uniforme)', color='red', linestyle='--')
plt.xlabel('Número')
plt.ylabel('Frequência')
plt.title('Mega-Sena: Frequência Observada vs. Esperada')
plt.legend()
plt.grid(axis='y', linestyle='--', alpha=0.5)
plt.tight_layout()
plt.show()

In [ ]:
numero_mais_frequente = df_freqs['total'].idxmin()
print("Número mais frequente:", numero_mais_frequente)

# Ver todas as linhas onde esse número aparece em qualquer uma das bolas
apareceu_em = mega[
    (mega['bola 1'] == numero_mais_frequente) |
    (mega['bola 2'] == numero_mais_frequente) |
    (mega['bola 3'] == numero_mais_frequente) |
    (mega['bola 4'] == numero_mais_frequente) |
    (mega['bola 5'] == numero_mais_frequente) |
    (mega['bola 6'] == numero_mais_frequente)
]

display(apareceu_em.head(10))

In [ ]:
# Para cada bola, pega os top 5 números que mais apareceram
top5_por_bola = {}

for bola in colunas_bolas:
    top5 = df_freqs[bola].sort_values(ascending=False).head(5)
    top5_por_bola[bola] = top5

# Mostrar
for bola, top5 in top5_por_bola.items():
    display(f"\nTop 5 números mais frequentes na {bola}:")
    display(top5)